* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);

}
/* Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img {
    max-height: 60px;
}
.logo img:hover {
    transform: scale(1.1);
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin: 0 10px;
}
.navbar li:hover {
    transform: scale(1.1);
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* Hero */
.hero {
    padding: 70px 0px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-info {
    display: flex;
    flex-direction: column;
}
.hero-info h2 {
    color: white;
    font-size: 60px;
}
.hero-info p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: white;
}
.logo-redes {
    display: flex;
    text-align: center;
    justify-content: center;
}
.logo-redes img {
    width: 70px;
    padding: 10px;
}
.logo-redes img:hover {
    transform: scale(1.1);
}
.hero-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-foto img {
    width: 380px;
    height:380px;
    border-radius:200px;
    box-shadow: 0 14px 28px black;
    transition: .3s;
}
.hero-foto img:hover {
    transform: scale(1.1);
}

/* Contenido-info */
.info {
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-contenido p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
}
