* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
}
.logo img {
    max-height: 80px;
}
.logo img:hover {
    transform: scale(1.1);
}
.logo h3 {
    height: 20px;
    color: #00a67d;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin: 0 10px;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #00a67d;
}
.navbar  a:hover {
    transform: scale(1.1);
    color: white;
}


